spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: Tarun
    url: jdbc:mysql://localhost:3306/tarun_db
    username: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  mail:
    host: smtp.gmail.com
    password: sf453fsr3345
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    username: tarun.proj@gmail.com